<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharatgas Kiosk</title>

    <link rel="icon" type="image/png" href="../images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="../images/favicon/site.webmanifest" />
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">

  </head>
  <body class="welcome-bg">    
    <section class="main-section hv100">
        <div class="container-fluid p-0 hv100">
            <div class="row hv100 gx-0">
                <div class="col-lg-4 col-md-4 col-12 hv100">
                    <div class="page-left hv100">
                        <div class="logo-content">
                            <img src="../images/logo.svg" class="img-fluid logo" alt="" title="Bharat Gas" />
                            <h1>Welome to <br/> Bharatgas!</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="page-right delivery-process quick-process">
                        <div class="content-center">
                            <div class="language-select">
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Eng
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">हिन्दी</a></li>
                                        <li class="active"><a class="dropdown-item" href="#">English</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="delivery-content">
                                <h3>Hello, let’s help you get a new connection!</h3>
                            </div>
                            <div class="delivery-default-steps">
                                <p class="title">It is a quick 3-step process:</p>
                                <div class="quick-timeline">
                                  <ul>
                                      <li class="first">Step 1</li>
                                      <li>Step 2</li>
                                      <li>Step 3</li>
                                  </ul>
                                </div>
                                <div class="clearfix"></div>
                                <div class="quick-timeline-content">
                                  <ul>
                                    <li>Enter your details</li>
                                    <li>Make the payment</li>
                                    <li>Connection complete! <br/> Collect your filled cylinder.</li>
                                  </ul>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="button-group mt-5">
                                    <a href="#" class="btn btn-outline-light white-btn me-3">Cancel</a>
                                    <a href="customer-details.html" class="btn btn-light white-btn">Proceed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>

  </body>
</html>