<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bharatgas Kiosk</title>

    <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="images/favicon/site.webmanifest" />
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

  </head>
  <body class="blue-bg">    
    <section class="main-section hv100 process-page">
        <div class="container-fluid hv100">
            <div class="row gx-0 center-container">
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="process-left">
                        <div class="logo-content mb-5">
                            <img src="images/logo.svg" class="img-fluid logo" alt="" title="Bharat Gas" />                            
                        </div>
                        <div class="timeline-tag">
                            <ul>
                                <li class="complete">Cylinder Validation</li>
                                <li class="complete">Placement for Refill</li>
                                <li class="complete">Payment</li>
                                <li class="last active">Cylinder Collection</li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="payment-success-content">
                            <div class="hand mt-3 mb-3">
                                <img src="images/thumbs-up.svg" alt="" title="" />
                            </div>   
                            <h3>Congratulations, payment successful! </h3>
                            <p class="mt-2">Please collect the filled cylinder from the chamber within 30 seconds.</p>
                        </div>
                        <div class="emoji-rating mt-5"> 
                            <p class="mt-2"><strong>Thank you</strong> for using Bharatgas, please rate your experience <br/> with us.</p>
                            <ul>
                                <li><a href="#"><img src="images/poor.svg" alt="" title="" /></a></li>
                                <li><a href="#"><img src="images/average.svg" alt="" title="" /></a></li>
                                <li><a href="#"><img src="images/good.svg" alt="" title="" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="process-right">
                        <div class="content-center">
                            <div class="language-select float-end">
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Eng
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">हिन्दी</a></li>
                                        <li class="active"><a class="dropdown-item" href="#">English</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>                            
                            <div class="animation-image text-end half">
                                <img src="images/refill-animation-3.gif" alt="Animtion" title="Animation" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>

  </body>
</html>