{% extends 'base.html' %}
{% load static %}
{% block content %}   
    <section class="main-section hv100 process-page">
        <div class="container-fluid hv100">
            <div class="row gx-0 center-container">
                <div class="col-lg-7 col-md-7 col-12">
                    <div class="process-left">
                        <div class="logo-content mb-5">
                            <img src="{% static 'kiosk/images/logo.svg' %}" class="img-fluid logo" alt="" title="Bharat Gas" />                            
                        </div>
                        <div class="timeline-tag">
                            <ul>
                                <li class="active">Cylinder Validation</li>
                                <li>Placement for Refill</li>
                                <li>Payment</li>
                                <li class="last">Cylinder Collection</li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <h3>Please wait for about 60 seconds, your cylinder is getting validated. </h3>
                        <p class="timer-text mt-5"><img src="images/clock.svg" alt="" title="" /> <span id="timer">00:00</span></p>         
                        <div class="gas-bottom mt-5">
                            <img src="images/gas-content.svg" alt="" title="" />
                        </div>               
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-12">
                    <div class="process-right">
                        <div class="content-center">
                            <div class="language-select float-end">
                                <div class="dropdown">
                                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Eng
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">हिन्दी</a></li>
                                        <li class="active"><a class="dropdown-item" href="#">English</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>                            
                            <div class="animation-image text-end">
                                <img src="images/refill-animation-2.gif" alt="Animtion" title="Animation" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Error Modal Start -->
    <div class="modal custom-modal-md" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">            
            <div class="modal-body text-center pb-5">
              <h5 class="error-heading">Validation failed!</h5>
              <div class="icon red">
                <img src="images/error.svg" class="img-fluid" alt="" title="" />
              </div>
              <p class="desc">Please place the correct 5 kg Bharat Gas composite cylinder.</p>
              <p class="text-gray">You will now be redirected to homepage. Please retry.</p>
            </div>
          </div>
        </div>
    </div>
    <!-- Error Modal End  -->
{%endblock%}
